ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.carousel {
    position: relative;
    width: 50%;
}



.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: Grey;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin:10px;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

table{
      width: 60%;
}

table td {
        border-collapse:separate;
    border:solid black 2px;
    border-radius:6px;
    -moz-border-radius:6px;
}

table .button{
    float: right;
width: 25%;
overflow: auto;
min-height: 6px;
height: 20px;
font-size: 10px;
text-align: center;
padding: 1px;

}