h1{
    
    font-family: cursive;
    text-decoration-style: wavy;
    text-decoration: underline;
}

img {
       padding:5px;
   box-shadow: 10px 10px 5px #6cf;
   
}

body {
    background-color: none;
    overflow:auto
}

footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf
     
}

#container {
   height:100%;

}

@-webkit-keyframes wiggle {
	0% {
		-webkit-transform:rotate(4deg);
	}
	50% {
		-webkit-transform:rotate(-4deg);
	}
	100% {
		-webkit-transform:rotate(4deg);
	}
}
 
.wiggle:hover {
	-webkit-animation: wiggle 0.5s infinite;
}

.gradient {
  background-image:
    radial-gradient(
      blue,
      #6cf
    );
}

figcaption{
    font-size: medium;
}

form{
    border-color: blue;
    color: #6cf;
}

#description {
    font-family: cursive;
    font-size: larger;
}

input{
    color:#6cf;
}

#world {
    box-shadow: none; 
}